<app-header></app-header>

<br>

<mat-form-field appearance="outline" class="id">
  <mat-label>Delivery manager login</mat-label>
  <input matInput placeholder="Enter your email id" />
  <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
  <mat-hint></mat-hint>
</mat-form-field>

<br>


  <mat-form-field appearance="outline" class="password">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Enter your password" />
    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
    <mat-hint></mat-hint>
  </mat-form-field>
  <br>
  <button mat-raised-button>Login</button>
  

  <app-footer></app-footer>
